In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report
from imblearn.metrics import classification_report_imbalanced
import numpy as np
import pymysql

In [2]:
#conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='101Monkeybob!',db='Final_Project')
#df=pd.read_sql_query("SELECT * FROM 'house' ",conn)

In [3]:
# Import Clean House Data
house_data = pd.read_csv("Raw Data/clean_house_data.csv",low_memory = False)
PRIME_data = pd.read_csv('Raw Data/PRIME_data.csv', low_memory = False)
imp_df = pd.DataFrame(house_data)
prime_df = pd.DataFrame(PRIME_data)
imp_df.head()

,BATHRM,HF_BATHRM,AC,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,LONGITUDE,LATITUDE,QUADRANT,PRICE,ZIPCODE,WARD,PRIME
0,3,1,Y,9,5,2016.0,2.0,4,1680,-77.040678,38.914684,NW,2100000.0,20009.0,2,3.750
1,3,1,Y,8,5,2006.0,2.0,3,1680,-77.040629,38.914683,NW,1602000.0,20009.0,2,7.875
2,3,2,Y,10,5,2010.0,1.0,4,2196,-77.039715,38.914331,NW,1950000.0,20009.0,2,3.250
3,3,1,Y,8,4,2011.0,2.0,1,1627,-77.040129,38.915408,NW,1050000.0,20009.0,2,3.250
4,3,1,Y,7,3,2018.0,2.0,1,1424,-77.039903,38.915017,NW,1430000.0,20009.0,2,5.125

In [4]:
imp_df = imp_df.drop(columns=['LONGITUDE','LATITUDE'])
imp_df.dtypes

BATHRM          int64
HF_BATHRM       int64
AC             object
ROOMS           int64
BEDRM           int64
SALEDATE      float64
KITCHENS      float64
FIREPLACES      int64
LANDAREA        int64
QUADRANT       object
PRICE         float64
ZIPCODE       float64
WARD            int64
PRIME         float64
dtype: object

In [5]:
imp_cat = imp_df.dtypes[imp_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(imp_df[imp_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(imp_cat)
encode_df.head()

C:\Users\FrantheMan\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   AC_0  AC_N  AC_Y  QUADRANT_NE  QUADRANT_NW  QUADRANT_SE  QUADRANT_SW
0   0.0   0.0   1.0          0.0          1.0          0.0          0.0
1   0.0   0.0   1.0          0.0          1.0          0.0          0.0
2   0.0   0.0   1.0          0.0          1.0          0.0          0.0
3   0.0   0.0   1.0          0.0          1.0          0.0          0.0
4   0.0   0.0   1.0          0.0          1.0          0.0          0.0

In [7]:
encode_df = encode_df.drop(columns = 'AC_0')
# Merge one-hot encoded features and drop the originals
imp_df = imp_df.merge(encode_df,left_index=True, right_index=True)
imp_df = imp_df.drop(imp_cat,1)
imp_df.head()

C:\Users\FrantheMan\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,BATHRM,HF_BATHRM,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,PRICE,ZIPCODE,WARD,PRIME,AC_N,AC_Y,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,3,1,9,5,2016.0,2.0,4,1680,2100000.0,20009.0,2,3.750,0.0,1.0,0.0,1.0,0.0,0.0
1,3,1,8,5,2006.0,2.0,3,1680,1602000.0,20009.0,2,7.875,0.0,1.0,0.0,1.0,0.0,0.0
2,3,2,10,5,2010.0,1.0,4,2196,1950000.0,20009.0,2,3.250,0.0,1.0,0.0,1.0,0.0,0.0
3,3,1,8,4,2011.0,2.0,1,1627,1050000.0,20009.0,2,3.250,0.0,1.0,0.0,1.0,0.0,0.0
4,3,1,7,3,2018.0,2.0,1,1424,1430000.0,20009.0,2,5.125,0.0,1.0,0.0,1.0,0.0,0.0

In [8]:
index = imp_df[imp_df.PRICE >= 1500000].index
index2 = imp_df[imp_df.PRICE <= 25000].index
imp_df = imp_df.drop(index)
imp_df = imp_df.drop(index2)

In [9]:
print(imp_df.PRICE.max())
print(imp_df.PRICE.min())

1499500.0
25007.0

In [10]:
#Binning Price data
bins = [25000, 50000, 75000,100000, 125000, 150000, 175000, 200000, 225000,250000,
        275000,300000,325000,350000,375000,400000,425000,450000,475000,500000,
        525000,550000,575000,600000,625000,650000,675000,700000,725000,750000,
        775000, 800000,825000,850000,875000,900000,925000,950000,975000,1000000,
        1025000,1050000,1075000,1100000,1125000,1150000,1175000,1200000,1225000,1250000,
        1275000,1300000,1325000,1350000,1375000,1400000,1425000, 1450000,1475000,1500000]
labels = [x*1 for x in range(1,60)]
cut = pd.cut(imp_df['PRICE'], bins=bins, labels=labels)
cut_df = pd.DataFrame(cut)
cut_df['REAL_PRICE'] = imp_df.PRICE
cut_df = cut_df.rename(columns={'PRICE':'INDEX_BIN'})
cut_df.head(50)

   INDEX_BIN  REAL_PRICE
3         41   1050000.0
4         57   1430000.0
5         52   1325000.0
6         49   1240000.0
7         23    592250.0
8          1     33232.0
9         36    907400.0
10        42   1065000.0
11        43   1100000.0
13        48   1210000.0
14         5    130500.0
15        13    339500.0
16        41   1050000.0
21        17    450000.0
22        33    846000.0
23        13    348500.0
24        33    849000.0
25        52   1312000.0
26        15    390000.0
27        30    772500.0
28        19    499000.0
29         8    216000.0
30        25    636090.0
31        50   1255000.0
32        39    990000.0
33        27    682500.0
34        39    993500.0
35        29    745000.0
36        33    848500.0
37        11    277000.0
38        46   1155000.0
39        54   1363000.0
40        45   1148000.0
41        35    900000.0
42        34    872000.0
44        14    360000.0
45        51   1280000.0
46        29    750000.0
51        34    860000.0
52        35    890000.0
53        53   1345000.0
54        11    282777.0
55        28    715000.0
56        52   1315000.0
57        57   1440000.0
58         9    229161.0
59        42   1060000.0
61        39    979000.0
63        34    865000.0
64        31    795000.0

In [11]:
imp_df = pd.merge(imp_df, cut_df, left_index=True, right_index=True)
imp_df.head()

,BATHRM,HF_BATHRM,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,PRICE,ZIPCODE,WARD,PRIME,AC_N,AC_Y,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,INDEX_BIN,REAL_PRICE
3,3,1,8,4,2011.0,2.0,1,1627,1050000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,41,1050000.0
4,3,1,7,3,2018.0,2.0,1,1424,1430000.0,20009.0,2,5.125000,0.0,1.0,0.0,1.0,0.0,0.0,57,1430000.0
5,3,1,5,3,2011.0,2.0,1,1815,1325000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,52,1325000.0
6,3,1,8,3,2010.0,1.0,0,1424,1240000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,49,1240000.0
7,3,1,9,3,2001.0,2.0,1,1424,592250.0,20009.0,2,6.772727,0.0,1.0,0.0,1.0,0.0,0.0,23,592250.0

In [12]:
# Dropping rows with a saledate less than 2000
new_df = imp_df[imp_df.SALEDATE >= 2000]
new_df.head(50)

,BATHRM,HF_BATHRM,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,PRICE,ZIPCODE,WARD,PRIME,AC_N,AC_Y,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,INDEX_BIN,REAL_PRICE
3,3,1,8,4,2011.0,2.0,1,1627,1050000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,41,1050000.0
4,3,1,7,3,2018.0,2.0,1,1424,1430000.0,20009.0,2,5.125000,0.0,1.0,0.0,1.0,0.0,0.0,57,1430000.0
5,3,1,5,3,2011.0,2.0,1,1815,1325000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,52,1325000.0
6,3,1,8,3,2010.0,1.0,0,1424,1240000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,49,1240000.0
7,3,1,9,3,2001.0,2.0,1,1424,592250.0,20009.0,2,6.772727,0.0,1.0,0.0,1.0,0.0,0.0,23,592250.0
8,3,1,14,5,2016.0,1.0,3,2090,33232.0,20009.0,2,3.750000,0.0,1.0,0.0,1.0,0.0,0.0,1,33232.0
9,1,0,6,3,2006.0,1.0,0,2090,907400.0,20009.0,2,7.875000,0.0,1.0,0.0,1.0,0.0,0.0,36,907400.0
10,2,1,5,3,2012.0,1.0,1,2090,1065000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,42,1065000.0
11,2,1,8,3,2012.0,1.0,2,2090,1100000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,43,1100000.0
13,3,1,11,3,2013.0,2.0,3,1853,1210000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,48,1210000.0
16,3,1,9,4,2006.0,2.0,0,1853,1050000.0,20009.0,2,7.875000,0.0,1.0,0.0,1.0,0.0,0.0,41,1050000.0
21,3,1,10,5,2001.0,2.0,0,1853,450000.0,20009.0,2,6.772727,0.0,1.0,0.0,1.0,0.0,0.0,17,450000.0
22,3,1,9,4,2011.0,2.0,2,1971,846000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,33,846000.0
24,2,1,8,3,2009.0,2.0,2,1853,849000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,33,849000.0
25,3,1,5,4,2006.0,2.0,2,1853,1312000.0,20009.0,2,7.875000,0.0,1.0,0.0,1.0,0.0,0.0,52,1312000.0
27,3,1,8,3,2004.0,2.0,2,1853,772500.0,20009.0,2,4.750000,0.0,1.0,0.0,1.0,0.0,0.0,30,772500.0
28,1,0,4,1,2010.0,2.0,1,374,499000.0,20009.0,2,3.250000,1.0,0.0,0.0,1.0,0.0,0.0,19,499000.0
29,2,0,9,2,2000.0,2.0,2,456,216000.0,20009.0,2,9.083333,1.0,0.0,0.0,1.0,0.0,0.0,8,216000.0
30,3,1,8,3,2002.0,2.0,2,1372,636090.0,20009.0,2,4.250000,0.0,1.0,0.0,1.0,0.0,0.0,25,636090.0
31,3,0,10,6,2012.0,2.0,3,1400,1255000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,50,1255000.0
32,3,0,10,4,2005.0,2.0,2,1400,990000.0,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,39,990000.0
33,2,0,6,3,2007.0,2.0,1,791,682500.0,20009.0,2,7.500000,0.0,1.0,0.0,1.0,0.0,0.0,27,682500.0
34,4,2,8,3,2014.0,1.0,1,814,993500.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,39,993500.0
35,2,1,7,2,2009.0,1.0,1,838,745000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,29,745000.0
36,2,1,11,4,2005.0,2.0,2,1236,848500.0,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,33,848500.0
38,2,1,11,4,2013.0,2.0,2,1183,1155000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,46,1155000.0
39,2,1,11,3,2017.0,2.0,2,1320,1363000.0,20009.0,2,4.250000,0.0,1.0,0.0,1.0,0.0,0.0,54,1363000.0
40,3,1,11,4,2010.0,2.0,2,1368,1148000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,45,1148000.0
41,3,1,9,3,2005.0,2.0,0,1795,900000.0,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,35,900000.0
42,2,1,6,2,2005.0,1.0,0,1700,872000.0,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,34,872000.0
45,2,1,7,3,2014.0,1.0,2,1000,1280000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,51,1280000.0
51,1,1,6,3,2005.0,1.0,0,1424,860000.0,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,34,860000.0
52,2,1,6,3,2012.0,1.0,0,1424,890000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,35,890000.0
53,3,1,6,3,2018.0,2.0,0,1424,1345000.0,20009.0,2,5.125000,0.0,1.0,0.0,1.0,0.0,0.0,53,1345000.0
55,3,1,9,3,2006.0,1.0,1,1424,715000.0,20009.0,2,7.875000,0.0,1.0,0.0,1.0,0.0,0.0,28,715000.0
56,3,1,7,3,2013.0,2.0,0,1424,1315000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,52,1315000.0
57,3,1,9,4,2015.0,2.0,1,1424,1440000.0,20009.0,2,3.500000,0.0,1.0,0.0,1.0,0.0,0.0,57,1440000.0
58,1,1,6,3,2000.0,1.0,0,1412,229161.0,20009.0,2,9.083333,1.0,0.0,0.0,1.0,0.0,0.0,9,229161.0
59,3,1,7,5,2011.0,1.0,0,1627,1060000.0,20009.0,2,3.250000,1.0,0.0,0.0,1.0,0.0,0.0,42,1060000.0
61,3,0,9,3,2010.0,2.0,0,1627,979000.0,20009.0,2,3.250000,1.0,0.0,0.0,1.0,0.0,0.0,39,979000.0
63,2,0,6,3,2015.0,2.0,1,680,865000.0,20009.0,2,3.500000,0.0,1.0,0.0,1.0,0.0,0.0,34,865000.0
64,2,1,5,2,2007.0,1.0,1,680,795000.0,20009.0,2,7.500000,0.0,1.0,0.0,1.0,0.0,0.0,31,795000.0
65,2,0,6,3,2017.0,1.0,1,652,950000.0,20009.0,2,4.250000,0.0,1.0,0.0,1.0,0.0,0.0,37,950000.0
66,2,1,5,2,2012.0,1.0,1,710,799000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,31,799000.0
67,2,0,7,2,2014.0,1.0,3,1800,1050000.0,20009.0,2,3.250000,1.0,0.0,0.0,1.0,0.0,0.0,41,1050000.0
68,2,1,6,3,2008.0,1.0,3,1800,1100000.0,20009.0,2,4.928571,0.0,1.0,0.0,1.0,0.0,0.0,43,1100000.0
69,2,1,7,3,2017.0,2.0,1,1800,1330000.0,20009.0,2,4.250000,0.0,1.0,0.0,1.0,0.0,0.0,53,1330000.0
70,2,1,6,3,2001.0,1.0,1,510,200000.0,20009.0,1,6.772727,0.0,1.0,0.0,1.0,0.0,0.0,7,200000.0
71,2,0,6,3,2013.0,1.0,1,421,650000.0,20009.0,1,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,25,650000.0
72,1,1,6,1,2005.0,1.0,0,331,660000.0,20009.0,1,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,26,660000.0

In [13]:
remove_n = 35000
drop_indices = np.random.choice(new_df.index, remove_n, replace=False)
new_df = new_df.drop(drop_indices)
new_df

,BATHRM,HF_BATHRM,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,PRICE,ZIPCODE,WARD,PRIME,AC_N,AC_Y,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,INDEX_BIN,REAL_PRICE
8,3,1,14,5,2016.0,1.0,3,2090,33232.0,20009.0,2,3.750000,0.0,1.0,0.0,1.0,0.0,0.0,1,33232.0
9,1,0,6,3,2006.0,1.0,0,2090,907400.0,20009.0,2,7.875000,0.0,1.0,0.0,1.0,0.0,0.0,36,907400.0
22,3,1,9,4,2011.0,2.0,2,1971,846000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,33,846000.0
38,2,1,11,4,2013.0,2.0,2,1183,1155000.0,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,46,1155000.0
41,3,1,9,3,2005.0,2.0,0,1795,900000.0,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,35,900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55000,2,1,6,3,2017.0,1.0,0,1834,350000.0,20032.0,8,4.250000,0.0,1.0,0.0,0.0,0.0,1.0,13,350000.0
55018,1,1,9,3,2001.0,1.0,0,2799,120000.0,20032.0,8,6.772727,0.0,1.0,0.0,0.0,1.0,0.0,4,120000.0
55021,1,1,7,3,2012.0,1.0,0,1919,215000.0,20032.0,8,3.250000,0.0,1.0,0.0,0.0,1.0,0.0,8,215000.0
55022,2,1,7,3,2005.0,1.0,0,2513,205000.0,20032.0,8,6.375000,0.0,1.0,0.0,0.0,1.0,0.0,8,205000.0
55027,2,0,10,4,2017.0,2.0,0,5098,140000.0,20032.0,8,4.250000,0.0,1.0,0.0,0.0,0.0,1.0,5,140000.0

In [14]:
new_df = new_df.drop(columns=['REAL_PRICE','PRICE'])
new_df

,BATHRM,HF_BATHRM,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,ZIPCODE,WARD,PRIME,AC_N,AC_Y,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,INDEX_BIN
8,3,1,14,5,2016.0,1.0,3,2090,20009.0,2,3.750000,0.0,1.0,0.0,1.0,0.0,0.0,1
9,1,0,6,3,2006.0,1.0,0,2090,20009.0,2,7.875000,0.0,1.0,0.0,1.0,0.0,0.0,36
22,3,1,9,4,2011.0,2.0,2,1971,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,33
38,2,1,11,4,2013.0,2.0,2,1183,20009.0,2,3.250000,0.0,1.0,0.0,1.0,0.0,0.0,46
41,3,1,9,3,2005.0,2.0,0,1795,20009.0,2,6.375000,0.0,1.0,0.0,1.0,0.0,0.0,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55000,2,1,6,3,2017.0,1.0,0,1834,20032.0,8,4.250000,0.0,1.0,0.0,0.0,0.0,1.0,13
55018,1,1,9,3,2001.0,1.0,0,2799,20032.0,8,6.772727,0.0,1.0,0.0,0.0,1.0,0.0,4
55021,1,1,7,3,2012.0,1.0,0,1919,20032.0,8,3.250000,0.0,1.0,0.0,0.0,1.0,0.0,8
55022,2,1,7,3,2005.0,1.0,0,2513,20032.0,8,6.375000,0.0,1.0,0.0,0.0,1.0,0.0,8
55027,2,0,10,4,2017.0,2.0,0,5098,20032.0,8,4.250000,0.0,1.0,0.0,0.0,0.0,1.0,5

In [15]:
# Define the features 
X = new_df.copy()
X = X.drop("INDEX_BIN", axis = 1)
X.head()

,BATHRM,HF_BATHRM,ROOMS,BEDRM,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,ZIPCODE,WARD,PRIME,AC_N,AC_Y,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
8,3,1,14,5,2016.0,1.0,3,2090,20009.0,2,3.750,0.0,1.0,0.0,1.0,0.0,0.0
9,1,0,6,3,2006.0,1.0,0,2090,20009.0,2,7.875,0.0,1.0,0.0,1.0,0.0,0.0
22,3,1,9,4,2011.0,2.0,2,1971,20009.0,2,3.250,0.0,1.0,0.0,1.0,0.0,0.0
38,2,1,11,4,2013.0,2.0,2,1183,20009.0,2,3.250,0.0,1.0,0.0,1.0,0.0,0.0
41,3,1,9,3,2005.0,2.0,0,1795,20009.0,2,6.375,0.0,1.0,0.0,1.0,0.0,0.0

In [16]:
# Define target set
y = new_df['INDEX_BIN'].ravel()
y[:5]

[1, 36, 33, 46, 35]
Categories (59, int64): [1 < 2 < 3 < 4 ... 56 < 57 < 58 < 59]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [18]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 1)

In [20]:
#Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [21]:
y_pred = rf_model.predict(X_test_scaled)

In [22]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.12      0.10      1.00      0.11      0.32      0.09        10
          2       0.22      0.19      0.99      0.20      0.44      0.18        26
          3       0.17      0.23      0.98      0.19      0.47      0.21        44
          4       0.23      0.20      0.98      0.22      0.44      0.18        70
          5       0.22      0.21      0.97      0.21      0.45      0.19       111
          6       0.13      0.14      0.97      0.14      0.37      0.12        93
          7       0.11      0.12      0.97      0.12      0.34      0.11        92
          8       0.11      0.15      0.96      0.13      0.38      0.13        82
          9       0.17      0.18      0.96      0.17      0.42      0.16       104
         10       0.17      0.17      0.97      0.17      0.41      0.15        83
         11       0.21      0.19      0.97      0.20      0.42      0.17       113
         12       0.24      0.22      0.98      0.23      0.47      0.20        90
         13       0.14      0.13      0.97      0.13      0.35      0.11       102
         14       0.03      0.04      0.97      0.04      0.20      0.04        73
         15       0.09      0.07      0.97      0.08      0.27      0.07        95
         16       0.10      0.12      0.97      0.11      0.34      0.11        66
         17       0.06      0.07      0.97      0.07      0.27      0.06        69
         18       0.11      0.13      0.98      0.12      0.35      0.11        55
         19       0.11      0.11      0.98      0.11      0.33      0.10        71
         20       0.14      0.16      0.97      0.15      0.40      0.15        67
         21       0.11      0.08      0.98      0.09      0.28      0.07        86
         22       0.06      0.06      0.98      0.06      0.25      0.06        62
         23       0.06      0.06      0.98      0.06      0.23      0.05        72
         24       0.03      0.02      0.99      0.03      0.15      0.02        42
         25       0.08      0.08      0.97      0.08      0.27      0.07        78
         26       0.17      0.12      0.99      0.14      0.35      0.11        64
         27       0.08      0.10      0.97      0.09      0.31      0.09        59
         28       0.05      0.04      0.98      0.05      0.21      0.04        68
         29       0.03      0.03      0.98      0.03      0.18      0.03        60
         30       0.05      0.05      0.98      0.05      0.21      0.04        65
         31       0.05      0.06      0.98      0.06      0.24      0.05        51
         32       0.05      0.07      0.98      0.06      0.27      0.07        40
         33       0.07      0.07      0.98      0.07      0.26      0.06        56
         34       0.10      0.13      0.98      0.11      0.36      0.12        52
         35       0.08      0.08      0.98      0.08      0.29      0.07        48
         36       0.03      0.03      0.99      0.03      0.16      0.02        37
         37       0.12      0.12      0.99      0.12      0.35      0.11        32
         38       0.00      0.00      0.99      0.00      0.00      0.00        29
         39       0.00      0.00      0.99      0.00      0.00      0.00        22
         40       0.00      0.00      0.99      0.00      0.00      0.00        15
         41       0.00      0.00      1.00      0.00      0.00      0.00        15
         42       0.00      0.00      1.00      0.00      0.00      0.00        13
         43       0.00      0.00      1.00      0.00      0.00      0.00        19
         44       0.25      0.11      1.00      0.15      0.33      0.10         9
         45       0.00      0.00      1.00      0.00      0.00      0.00        14
         46       0.00      0.00      1.00      0.00      0.00      0.00        14
         47       0.00      0.00      0.99      0.00      0.00      0.00        25
         48       0.00      0.00      1.00      0.00      0.00      0.00        15
         49       0.00      0.00      0.99      0.00      0.00      0.00        20
         50       0.00      0.00      1.00      0.00      0.00      0.00        11
         51       0.00      0.00      1.00      0.00      0.00      0.00        12
         52       0.00      0.00      1.00      0.00      0.00      0.00        10
         53       0.00      0.00      1.00      0.00      0.00      0.00        13
         54       0.00      0.00      1.00      0.00      0.00      0.00         6
         55       0.08      0.09      1.00      0.08      0.30      0.08        11
         56       0.00      0.00      1.00      0.00      0.00      0.00        11
         57       0.08      0.20      1.00      0.11      0.45      0.18         5
         58       0.25      0.25      1.00      0.25      0.50      0.23         4
         59       0.00      0.00      1.00      0.00      0.00      0.00         3

avg / total       0.11      0.11      0.98      0.11      0.30      0.10      2784

In [23]:
acc_score = accuracy_score(y_test, y_pred)
acc_score

0.10739942528735633

In [24]:
# Displaying results
print("Confusion Matrix")
#display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Confusion Matrix
Accuracy Score : 0.10739942528735633
Classification Report
              precision    recall  f1-score   support

           1       0.12      0.10      0.11        10
           2       0.22      0.19      0.20        26
           3       0.17      0.23      0.19        44
           4       0.23      0.20      0.22        70
           5       0.22      0.21      0.21       111
           6       0.13      0.14      0.14        93
           7       0.11      0.12      0.12        92
           8       0.11      0.15      0.13        82
           9       0.17      0.18      0.17       104
          10       0.17      0.17      0.17        83
          11       0.21      0.19      0.20       113
          12       0.24      0.22      0.23        90
          13       0.14      0.13      0.13       102
          14       0.03      0.04      0.04        73
          15       0.09      0.07      0.08        95
          16       0.10      0.12      0.11        66
          17       0.06      0.07      0.07        69
          18       0.11      0.13      0.12        55
          19       0.11      0.11      0.11        71
          20       0.14      0.16      0.15        67
          21       0.11      0.08      0.09        86
          22       0.06      0.06      0.06        62
          23       0.06      0.06      0.06        72
          24       0.03      0.02      0.03        42
          25       0.08      0.08      0.08        78
          26       0.17      0.12      0.14        64
          27       0.08      0.10      0.09        59
          28       0.05      0.04      0.05        68
          29       0.03      0.03      0.03        60
          30       0.05      0.05      0.05        65
          31       0.05      0.06      0.06        51
          32       0.05      0.07      0.06        40
          33       0.07      0.07      0.07        56
          34       0.10      0.13      0.11        52
          35       0.08      0.08      0.08        48
          36       0.03      0.03      0.03        37
          37       0.12      0.12      0.12        32
          38       0.00      0.00      0.00        29
          39       0.00      0.00      0.00        22
          40       0.00      0.00      0.00        15
          41       0.00      0.00      0.00        15
          42       0.00      0.00      0.00        13
          43       0.00      0.00      0.00        19
          44       0.25      0.11      0.15         9
          45       0.00      0.00      0.00        14
          46       0.00      0.00      0.00        14
          47       0.00      0.00      0.00        25
          48       0.00      0.00      0.00        15
          49       0.00      0.00      0.00        20
          50       0.00      0.00      0.00        11
          51       0.00      0.00      0.00        12
          52       0.00      0.00      0.00        10
          53       0.00      0.00      0.00        13
          54       0.00      0.00      0.00         6
          55       0.08      0.09      0.08        11
          56       0.00      0.00      0.00        11
          57       0.08      0.20      0.11         5
          58       0.25      0.25      0.25         4
          59       0.00      0.00      0.00         3

    accuracy                           0.11      2784
   macro avg       0.08      0.08      0.08      2784
weighted avg       0.11      0.11      0.11      2784

In [25]:
# Calc feature importancy 
importancies = rf_model.feature_importances_
importancies

array([0.05444404, 0.05706721, 0.11056789, 0.07005058, 0.13319161,
       0.02376172, 0.04351131, 0.25024203, 0.07218249, 0.04598416,
       0.08349381, 0.01330099, 0.01352565, 0.01097009, 0.00671201,
       0.00905353, 0.00194087])

In [26]:
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.2502420263061911, 'LANDAREA'),
 (0.1331916060118556, 'SALEDATE'),
 (0.1105678940592887, 'ROOMS'),
 (0.08349381039729094, 'PRIME'),
 (0.07218248779074234, 'ZIPCODE'),
 (0.07005058462218636, 'BEDRM'),
 (0.057067210987032393, 'HF_BATHRM'),
 (0.05444404494486076, 'BATHRM'),
 (0.04598416155626075, 'WARD'),
 (0.04351131315739465, 'FIREPLACES'),
 (0.023761716705689002, 'KITCHENS'),
 (0.013525652830407422, 'AC_Y'),
 (0.013300989709733141, 'AC_N'),
 (0.010970085994998782, 'QUADRANT_NE'),
 (0.009053532318489354, 'QUADRANT_SE'),
 (0.0067120085493718225, 'QUADRANT_NW'),
 (0.0019408740582067912, 'QUADRANT_SW')]