In [1]:
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [3]:
# Import Clean House Data
house_data = pd.read_csv("Raw Data/clean_house_data.csv", low_memory=False)
house_df = pd.DataFrame(house_data)

house_df.head()

,BATHRM,HF_BATHRM,AC,ROOMS,BEDRM,STORIES,SALEDATE,KITCHENS,FIREPLACES,LANDAREA,LONGITUDE,LATITUDE,QUADRANT,PRICE,ZIPCODE
0,4,0,Y,8,4,3.0,2003.0,2.0,5,1680,-77.040832,38.914680,NW,1095000.0,20009.0
1,3,1,Y,9,5,3.0,2016.0,2.0,4,1680,-77.040678,38.914684,NW,2100000.0,20009.0
2,3,1,Y,8,5,3.0,2006.0,2.0,3,1680,-77.040629,38.914683,NW,1602000.0,20009.0
3,3,2,Y,10,5,4.0,2010.0,1.0,4,2196,-77.039715,38.914331,NW,1950000.0,20009.0
4,3,1,Y,8,4,3.0,2011.0,2.0,1,1627,-77.040129,38.915408,NW,1050000.0,20009.0

In [4]:
house_df.dtypes

BATHRM          int64
HF_BATHRM       int64
AC             object
ROOMS           int64
BEDRM           int64
STORIES       float64
SALEDATE      float64
KITCHENS      float64
FIREPLACES      int64
LANDAREA        int64
LONGITUDE     float64
LATITUDE      float64
QUADRANT       object
PRICE         float64
ZIPCODE       float64
dtype: object

In [ ]:
# house_df to SQL

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"
    
engine = create_engine(db_string)

house_df.to_sql(name='house', con=engine)