In [1]:
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [4]:
# Read in Prime data
prime_data = pd.read_csv('../Raw Data/PRIME_data.csv')

prime_df = pd.DataFrame(prime_data)
prime_df.head()

   DATE  PRIME
0  1982   16.5
1  1982   17.0
2  1982   16.5
3  1982   16.0
4  1982   15.5

In [5]:
# get data types
prime_df.dtypes

DATE       int64
PRIME    float64
dtype: object

In [8]:
# average PRME for each year
avg_prime_df = prime_df.groupby("DATE").mean().reset_index()
avg_prime_df = avg_prime_df.round({"PRIME": 2})
avg_prime_df

    DATE  PRIME
0   1982  14.58
1   1983  10.83
2   1984  12.00
3   1985  10.00
4   1986   8.25
5   1987   8.54
6   1988   9.50
7   1989  11.00
8   1990  10.00
9   1991   8.17
10  1992   6.00
11  1994   7.30
12  1995   8.75
13  1996   8.25
14  1997   8.50
15  1998   8.00
16  1999   8.25
17  2000   9.08
18  2001   6.77
19  2002   4.25
20  2003   4.00
21  2004   4.75
22  2005   6.38
23  2006   7.88
24  2007   7.50
25  2008   4.93
26  2015   3.50
27  2016   3.75
28  2017   4.25
29  2018   5.12
30  2019   5.00

In [7]:
# prime_df to SQL

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"
    
engine = create_engine(db_string)

avg_prime_df.to_sql(name='prime', con=engine)

NameError: name 'avg_prime_df' is not defined

In [9]:
# Loading to csv
avg_prime_df.to_csv('prime.csv', index = False)