In [18]:
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [23]:
# Read in Prime data
prime_data = pd.read_csv('Raw Data/PRIME_data.csv')

prime_df = pd.DataFrame(prime_data)
prime_df.head()

   YEAR  PRME
0  2006  7.50
1  2006  7.75
2  2006  8.00
3  2006  8.25
4  2007  7.75

In [4]:
# get data types
prime_df.dtypes

YEAR      int64
PRME    float64
dtype: object

In [13]:
# average PRME for each year
avg_prime_df = prime_df.groupby("YEAR").mean().reset_index()
avg_prime_df = avg_prime_df.round({"PRME": 2})
avg_prime_df

   YEAR  PRME
0  2006  7.88
1  2007  7.50
2  2008  4.93
3  2015  3.50
4  2016  3.75
5  2017  4.25
6  2018  5.12
7  2019  5.00
8  2020  3.75

In [21]:
# prime_df to SQL

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"
    
engine = create_engine(db_string)

avg_prime_df.to_sql(name='prime', con=engine)