In [6]:
import pandas as pd
from sqlalchemy import create_engine

from config import db_password

In [2]:
# Import DC High School Data
data = pd.read_csv("../Raw Data/School_Rankings_Update.csv", low_memory=False)
df = pd.DataFrame(data)

df.head()

,Rank (2018-19),School,Ward,District,Address,City,Zip,Phone,Include in ML Model
0,1,Benjamin Banneker High School,6,District of Columbia Public Schools,800 Euclid St. NW,Washington,20001,(202) 671-6320,No
1,2,School Without Walls High School,2,District of Columbia Public Schools,2130 G St. NW,Washington,20037,(202) 645-9690,Yes
2,3,Washington Latin PCS - Upper School,4,Washington Latin PCS,5200 2nd Street NW,Washington,20011,(202) 723-1171,No
3,4,McKinley Technology High School,5,District of Columbia Public Schools,151 T St. NE,Washington,20002,(202) 281-3950,No
4,5,Thurgood Marshall Academy PCS,8,Thurgood Marshall Academy PCS,2427 Martin Luther King Jr Av,Washington,20020,(202) 563-6862,No

In [8]:
ward_df = pd.DataFrame(df, columns=['School', 'Ward', 'Include in ML Model'], index=df.index)
ward_df.head()

                                School  Ward Include in ML Model
0        Benjamin Banneker High School     6                  No
1     School Without Walls High School     2                 Yes
2  Washington Latin PCS - Upper School     4                  No
3      McKinley Technology High School     5                  No
4        Thurgood Marshall Academy PCS     8                  No

In [9]:
ward_df.dtypes

School                 object
Ward                    int64
Include in ML Model    object
dtype: object

In [10]:
# Ward_df to SQL

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"
    
engine = create_engine(db_string)

ward_df.to_sql(name='wards_dc_schools', con=engine)

In [13]:
# Loading to csv
ward_df.to_csv('wards_dc_schools.csv', index = False)